@-webkit-keyframes MMM-NFL-pulse {
    0% {opacity: 1;}
    50% {oppacity: 0;}
    100% {opacity: 1;}
}

.MMM-NFL .table {
    border-spacing: 10px 0px;
    border-collapse: separate;
    text-align: center;
}

.MMM-NFL .icon {
    -webkit-filter: grayscale(100%);
}

.MMM-NFL .row {
    vertical-align: middle;
}

.MMM-NFL .away {
    -webkit-transform: scaleX(-1);
}

.MMM-NFL .redzone {
    -webkit-animation: MMM-NFL-pulse 1s infinite;
}

.MMM-NFL .live {
    font-size: 10px;
    line-height: 15px;
    display: block;
}

.MMM-NFL .ball-home {
    margin-left: 10px;
}

.MMM-NFL .ball-away {
    margin-right: 10px;
}