@-webkit-keyframes MMM-NFL-pulse {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.MMM-NFL .table {
    border-spacing: 10px 0;
    border-collapse: separate;
    text-align: center;
}

.MMM-NFL .icon {
    -webkit-filter: grayscale(100%);
}

.MMM-NFL .row {
    vertical-align: middle;
}

.MMM-NFL .away {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

.MMM-NFL .redzone {
    -webkit-animation: MMM-NFL-pulse 2s infinite;
}

.MMM-NFL .live {
    font-size: 10px;
    line-height: 15px;
    display: block;
}

.MMM-NFL .ball-home {
    margin-right: 10px;
}

.MMM-NFL .ball-away {
    margin-left: 10px;
}
